#app3 .square {
  width: 25vw;
  height: 25vh;
  border: 1px solid #ddd;
  margin-top: 10vw;
  margin-left: 10vw;
  background-color: aqua;
  transition: transform .5s;
  border-radius: 12px;
  cursor: pointer;
}
#app3 .active {
  transform: translate(15vw);
}