#app4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app4 .circular {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: aquamarine;
}
@keyframes change {
  0% {
    background-color: aquamarine;
  }
  50% {
    background-color: bisque;
  }
  100% {
    background-color: cornflowerblue;
  }
}
#app4 .circular.active {
  animation: change 3s infinite alternate linear;
}